/* DateRangePicker.css */
.datepicker-container {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
  }
  
  .datepicker-container label {
    font-weight: bold;
    color: black;
  }
  
  .datepicker-input {
    padding: 0.5rem;
    border: 2px solid #ae445a;
    border-radius: 5px;
    font-size: 1rem;
    color: black;
    background-color: white;
    height: 35px;
    font-size: 15px;
    text-align: center;
  }
  
  .datepicker-input:focus {
    outline: none;
    border-color: #ae445a;
    box-shadow: 0 0 5px #ae445a;
  }
  
  .react-datepicker {
    font-family: Arial, sans-serif;
    border: 2px solid #ae445a;
  }
  
  .react-datepicker__header {
    background-color: #ae445a;
    border-bottom: none;
  }
  
  .react-datepicker__current-month,
  .react-datepicker-time__header,
  .react-datepicker-year-header {
    color: white;
  }
  
  .react-datepicker__day-name,
  .react-datepicker__day,
  .react-datepicker__time-name {
    color: black;
  }
  
  .react-datepicker__day--selected,
  .react-datepicker__day--in-range,
  .react-datepicker__day--in-selecting-range,
  .react-datepicker__day--range-start,
  .react-datepicker__day--range-end,
  .react-datepicker__day--hovered,
  .react-datepicker__day--in-selecting-range:hover {
    background-color: #ae445a !important;
    color: white !important;
    transition: background-color 0.3s ease;
  }
  
  .react-datepicker__day--keyboard-selected {
    background-color: #ae445a !important;
    color: white !important;
  }
  
  .react-datepicker__input-container input {
    width: 100%;
    padding: 0.5rem;
    border: 2px solid #ae445a;
    border-radius: 5px;
    font-size: 1rem;
    color: black;
    background-color: white;
  }
  
  .react-datepicker__input-container input:focus {
    outline: none;
    border-color: #ae445a;
    box-shadow: 0 0 5px #ae445a;
  }
  
  .react-datepicker__day:hover {
    background-color: #ae445a !important;
    color: white !important;
  }
  .react-datepicker__day--disabled {
    background-color: black;
    color: white; /* Si quieres cambiar el color del texto también */
}