@import url('https://fonts.googleapis.com/css2?family=Fragment+Mono:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.block {
      width: 100vw;
      height: 100vh;
      display: relative;
      top: 0px;
      z-index: 7;
}

.img-vel {
      width: 100px;
      height: 100px;
      background-size: 100%;
      background-position: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 6;
}

.img-agu {
      width: 100px;
      height: 100px;
      background-size: 100%;
      background-position: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate( -50%, -50% ) rotate(-180deg);
      animation-name: needle-movement;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      z-index: 5;
}

.block-fantasy {
      width: 100vw;
      height: 100vh;
      position: absolute;
      top: 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 3;
}

.img-fantasy {
      width: 100px;
      height: 100px;
}
.mensaje {
      color: white;
      transform: translate(-5px, -6px);
}

@keyframes needle-movement {
      0% {transform: translate( -50%, -50% ) rotate(-180deg)}
      92% {transform: translate( -50%, -50% ) rotate(50deg)}
      100% {transform: translate( -50%, -50% ) rotate(-180deg)}
}


