* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family;
}

.title__admin {
  width: fit-content;
  margin: 20px auto;
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: $darkmode-background-color;
  color: $darkmode-text-color;
}

main {
  width: 100%;
}

.mt-1 {
  margin-top: 5px;
}

.mt-5 {
  margin-top: 20px;
}

.mb-1 {
  margin-bottom: 5px;
}

.mb-5 {
  margin-bottom: 20px;
}

.pointer {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: $lightmode-accent-color;
}

.loader {
  height: 80vh;
  width: 480px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* DateRangePicker.css */
.datepicker-container {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
}

.datepicker-container label {
  font-weight: bold;
  color: black;
}

.datepicker-input {
  padding: 0.5rem;
  border: 2px solid #ae445a;
  border-radius: 5px;
  font-size: 1rem;
  color: black;
  background-color: white;
}

.datepicker-input:focus {
  outline: none;
  border-color: #ae445a;
  box-shadow: 0 0 5px #ae445a;
}

.react-datepicker {
  font-family: Arial, sans-serif;
  border: 2px solid #ae445a;
}

.react-datepicker__header {
  background-color: #ae445a;
  border-bottom: none;
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  color: white;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  color: black;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-range,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--range-start,
.react-datepicker__day--range-end,
.react-datepicker__day--hovered,
.react-datepicker__day--in-selecting-range:hover {
  background-color: #ae445a !important;
  color: white !important;
  transition: background-color 0.3s ease;
}

.react-datepicker__day--keyboard-selected {
  background-color: #ae445a !important;
  color: white !important;
}

.react-datepicker__input-container input {
  width: 100%;
  padding: 0.5rem;
  border: 2px solid #ae445a;
  border-radius: 5px;
  font-size: 1rem;
  color: black;
  background-color: white;
}

.react-datepicker__input-container input:focus {
  outline: none;
  border-color: #ae445a;
  box-shadow: 0 0 5px #ae445a;
}

.react-datepicker__day:hover {
  background-color: #ae445a !important;
  color: white !important;
}