.detail__container {
      /* control the size */
      --s: 400px;

      --c1: #1d1d1d;
      --c2: #3d3e3f;
      --c3: #302f2f;

      background: repeating-conic-gradient(from 30deg,
            #0000 0 120deg,
            var(--c3) 0 180deg) calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
            repeating-conic-gradient(from 30deg,
            var(--c1) 0 60deg,
            var(--c2) 0 120deg,
            var(--c3) 0 180deg);
      background-size: var(--s) calc(var(--s) * 0.577);



      .detail__title{
            padding: 14px;
      }

      .btn{
            width: 59%;
            height: 34px;
            text-transform: uppercase;
            background-color: #662549;
            border: 1px solid #ae445a;
            color: #f7fafc;
             margin-top: 9px;
            font-size: 13px;
      }

      .selected__car__detail__container {
            display: flex;
            flex-direction: row;

            .imagen__y__detalles__container {
                  margin: 0 20px;
                  display: flex;
                  flex-direction: column;
                  text-align: left;
                  justify-content: center;
                  height: 280px;
            }
            padding: 30px;

            img {
                  // margin: 0 5px 0 0;
                  border-radius: 20px;
                  height: 20vw;
                  max-width: 2000px;
                  width: 35vw;
                  object-fit: cover;
            }
            .container__heart {
                  background-color: transparent;
                  border: none;
                  cursor: pointer;
            }

            .heart {
                  color: white;
                  transition: color 0.3s;
                  height: 30px;
                  width: 30px;
                  transform: translate(-74px, -8px);
            }

            .container__heart.liked .heart {
                  color: red;
            }
            /* DateRangePicker.css */
            .react-datepicker__day--in-range {
                  background-color: #ae445a !important;
                  color: white !important;
            }
            
            .react-datepicker__day--hovered {
                  background-color: #ae445a !important;
                  color: white !important;
            }
    
            .details_paraghrap{
                  width: 750px;
            }
           

            @media (max-width: 400px) {
                  .imagen__y__detalles__container {
                        flex-direction: column;

                        img {
                              margin: 0 0 20px 0;
                              width: 80vw;
                              height: 40vh;
                        }
                  }
            }
      }
}

.features__container {
      // background-color: #444444;
      // color: white;
      display: flex;
      padding-left: 33px;
      @media (max-width: 600px) {

            margin-top: 20px;
            padding-top: 20px;
            border-radius: 0px;
            flex-direction: column;
            background-color: #444444;
      }

      .features__frame {
            display: flex;
            flex-direction: column;
            background-color: #444444;
            padding: 30px;
            border-radius: 20px;
            margin-bottom: 25px;
            transform: translate(3px, -17px);
            #detail_link{
                  color: white;
                  padding-top: 10px;
            }

            @media (max-width: 600px) {

                  padding: 0px;
                  border-radius: 0px;
                  flex-direction: column;
                  background-color: #00000000;
            }

            .items__frame {
                  margin-top: 10px;
                  display: flex;
                  flex-direction: row;
                  width: 100%;

                  @media (max-width: 600px) {
                        flex-direction: column;
                  }

                  div {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        background-color: black;
                        padding: 10px;
                        margin-right: 5px;
                        @media (max-width: 600px) {
                              margin-right: 0px;
                              margin-top: 10px;
                        }
                  }
            }
      }

}

@media (max-width: 600px) {
      .items__frame {
            flex-direction: column;
      }
}
