.container__favs {
    .card__grid {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-evenly;

        a {
            margin: 5px 20px;
            width: 450px;

            .car__card {
                width: 100%;

                .heart {
                    color: red
                }
            }
        }
    }
}