.container__favs {

    h1,
    p {
        width: fit-content;
        margin: 0 auto;
    }

    .card__grid {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-evenly;

        a {
            .car__card {
                width: 100%;

                .heart {
                    color: red
                }
            }
        }
    }
}