.lista__vehiculos__container {
    display: flex;
    flex-direction: column;

    h3 {
        padding-top: 40px;
    }

    .render__list{
        margin: 0 auto;
        font-size: 16px;
    }

    button {
        font-size: 16px;
        background-color: $darkmode-primary-color;
        border: none;
        border-radius: 15px;
        cursor: pointer;
        transition: background-color 100ms ease-in-out;

        &:hover {
            background-color: $darkmode-accent-color;
        }
    }

    .titulos__categorias {
        display: flex;
        width: 740px;
        margin: 0 auto;
        padding: 10px;

        * {
            width: calc(740px/6);
            text-align: center;
        }
    }

    .vehiculo__container {
        display: flex;
        flex-direction: row;
        width: 740px;
        margin: 10px auto;
        text-align: center;
        align-items: center;
        padding: 10px;
        background-color: $darkmode-background-color-lighter;
        border-radius: 5px;
        overflow: hidden;

        img {
            border-radius: 5px;
            height: 80px;
            object-fit: cover;
        }

        * {
            width: calc(100%/6 - 10px);
            margin: 0 5px;
            text-align: center;
            overflow: hidden;
        }

        .container__buttons {
            display: flex;
            justify-content: space-evenly;

            button {
                background: $darkmode-secondary-color;
                border: none;
                border-radius: 5px;
                width: 50px;
                height: 50px;
                cursor: pointer;

                img {
                    height: 40%;
                    width: 40%;
                }
            }
        }
    }

    .editing__vehicle__overlay {
        position: absolute;
        overflow: scroll;
        z-index: 1;
        padding: 20px;
        border-radius: 20px;
        max-height: 80vh;
        width: 700px;

        // center overlay;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        background-color: rgba(0, 0, 0, 0.85);
        backdrop-filter: blur(5px);

        .edicion__vehiculo__error {
            margin: 10px auto;
            width: fit-content;
            color: red;
        }

        .edicion__vehiculo__success {
            margin: 10px auto;
            width: fit-content;
            color: green;
        }

        .overlay__buttons {
            display: flex;
            margin-top: 20px;
            justify-content: space-evenly;

            button {
                background: $darkmode-secondary-color;
                border: none;
                border-radius: 7px;
                width: 100px;
                height: 40px;
                cursor: pointer;
            }
        }

        form {
            div {
                display: flex;
                align-items: center;

                p {
                    width: 20%;
                }

                input,
                select {
                    width: 80%;
                    font-size: 16px;
                    padding: 5px;
                    margin: 10px;
                    border: none;
                    border-radius: 5px;
                    background-color: $darkmode-background-color-lighter;
                    color: $darkmode-text-color;
                }
            }

            .imagenes__subidas {
                display: flex;
                flex-direction: column;

                div {
                    display: flex;
                    width: 100%;
                    align-items: center;
                    justify-content: space-between;

                    a {
                        width: 40%;
                        height: 120px;
                        margin: 5px;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 5px;
                        }
                    }

                    button {
                        width: fit-content;
                        height: fit-content;
                        padding: 15px 30px;
                        margin-right: 25px;
                    }
                }
            }
        }
    }
}